.page-footer {
  @media @tablet {
  display: grid;
  grid-template-rows: auto 90px;
  grid-template-columns: 70% 30%;
  grid-template-areas:
    'info newsletter'
    'feed sl';
    @media @desktop{
      max-width: 1200px;
      margin: 0 auto;
      grid-template-rows: auto 60px;
      grid-template-columns: 70% 30%;
    }
  }
}
.other-information {
  @media @tablet {
    grid-area: info;
  }
}
.newsletter {
  @media @tablet {
    grid-area: newsletter;
  }
}
.feedback {
  @media @tablet {
    grid-area: feed;
  }
}
.social-lang {
  @media @tablet {
    grid-area: sl;
    display: flex;
    flex-direction: column;
    margin-top: -25px;
  }
  @media @desktop{
    justify-content: space-between;
    flex-direction: row;
    margin-top: 0;
  }
}
