.slayder {
  @media @tablet {
    display: flex;
    overflow:hidden;
    position: relative;
    width: 100vw;
  }
}
.slayder__item{
  display: none;
  @media @tablet {
    display: block;
    width: 100vw;
    height: auto;
    z-index: 1;
  }
}
.block-text {
  font-family: 'PlayfairDisplay';
  @media @tablet {
    position: absolute;
    z-index: 2;
    top: 35%;
    right: 0;
    width: 510px;
    height: 140px;
    opacity: 0.7;
    background-color: @block-text-bgc;
  }
}
.block-text__title {
  text-align: center;
  text-transform: uppercase;
  //font-style: italic; //desktop
  margin: 15px auto 0;
  color: @navigation-hover;
  @media @tablet {
    color: @block-text;
  }
}
.block-text__subtitle {
  text-align: center;
  margin: 12px auto 0;
  font-size: 20px;
  @media @tablet {
    color: @block-text;
    text-align: start;
    padding-left: 30px;
  }
}
.toggle-round {
  display: none;
  @media @tablet {
    display: flex;
    position: absolute;
    bottom: 40px;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
  }
}
.toggle-round__item {
  width: 14px;
  height: 14px;
  background-color: @basic-white;
  border-radius: 50%;
  border: 1px solid @basic-black;
  position: relative;
  & + & {
    margin-left: 10px;
  }
}
.toggle-round__item--active{
  background-color: @slider-button;
}
.toggle {
  @media @tablet {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 85px;
    height: 30px;
    background-color: @basic-white;
  }
}
.toggle__button-left {
  @media @tablet {
    position: absolute;
    top: 50%;
    left: 19px;
    width: 25px;
    height: 2px;
    background-color: @basic-black;
    transform: rotate(-30deg);
  }
}
.toggle__button-right {
  @media @tablet {
    position: absolute;
    top: 50%;
    right: 19px;
    width: 25px;
    height: 2px;
    background-color: @basic-black;
    transform: rotate(30deg);
  }
}
.inform-block {
  .li-none;
  @media @tablet {
    display: none;
    z-index: 2;
    position: absolute;
    bottom: 0;
  }
}
.inform-block__special-title{
  text-align: center;
  text-transform: uppercase;
  font-family: 'PlayfairDisplay';
  font-size: 24px;
  color: @navigation-hover;
  margin: 15px auto;
  @media @tablet {
    .visually-hidden;
  }

}
.inform-block__item {
  padding: 15px 0;
  &--color-first{
    background-color: @info-bgc1;
    color: @info-text;
  }
  &--color-second{
    background-color: @info-bgc2;
    color: @info-text;
  }
  &--color-third{
    background-color: @info-bgc3;
    color: @info-text-light;
  }
  @media @tablet {
    padding: 0;
    position: relative;
    max-height: 180px;
    width: 33.333%;
  }
}
.inform-block__title {
  font-family: 'PlayfairDisplay';
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  @media @tablet {
    position: relative;
    text-align: start;
    min-height: 46px;
    margin-left:  16px;
  }

}
.inform-block__subtitle {
  font-family: 'Myriad Pro';
  text-align: center;
  @media @tablet {
    text-align: start;
    margin-left:  16px;
    margin-bottom: 40px;
    min-height: 54px;

  }
  @media @desktop {
    margin-bottom: 50px;
  }
}
.inform-block__link {
  display: block;
  margin: 15px auto;
  width: 280px;
  height: 36px;
  background-color: @block-text-bgc;
  border-radius: 5px;
  .a-none (black);
  text-align: center;
  padding-top: 7px;
  font-size: 22px;
  font-family: 'Myriad Pro';
  box-shadow: 0 0 5px 2px grey;
  @media @tablet {
    display: inline;
    position: absolute;
    bottom: 10px;
    right: 25px;
    cursor: pointer;
    text-transform: inherit;
    box-shadow: none;
    background-color: transparent;
    font-size: 18px;
    width: 106px;
    height: 20px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    &--color{
      color: inherit;
    }
    &--acolor{
      color: @basic-white;
    }
    &:hover{
      border-bottom: 1px solid;
      border-color: initial;
    }
  }
}
