.slayder {
  @media @tablet {
    //display: flex;
    overflow:hidden;
    position: relative;
  }
}
.slayder__item{
  display: none;
  @media @tablet {
    display: block;
    object-fit: cover;
    width: 100vw;
    height: auto;
    z-index: 1;
  }
}
