
.inform-block {
  @extend %li-none;
  @media (min-width: $tablet-width) {
    display: none;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  @media (min-width: $desktop-width){
    width: 1200px;
  }
}
.inform-block__item {
  padding: 15px 0;
  &--color-first{
    background-color: $info-bgc1;
    color: $info-text;
  }
  &--color-second{
    background-color: $info-bgc2;
    color: $info-text;
  }
  &--color-third{
    background-color: $info-bgc3;
    color: $info-text-light;
  }
  @media (min-width: $tablet-width) {
    padding: 0;
    position: relative;
    max-height: 173px;
    width: 33.333%;
  }
}
.inform-block__title {
  font-family: 'PlayfairDisplay';
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  @media (min-width: $tablet-width) {
    position: relative;
    text-align: start;
    min-height: 46px;
    margin-left:  16px;
  }
  @media (min-width: $desktop-width) {
    font-size: 30px;
    text-transform: none;
    margin-top: 14px;
    line-height: 30px;
    margin-bottom: 0;
  }
}
.inform-block__subtitle {
  font-family: 'Myriad Pro';
  text-align: center;
  @media (min-width: $tablet-width) {
    text-align: start;
    margin-left:  16px;
    margin-bottom: 40px;
    min-height: 54px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
    margin-top: 4px;
    max-width: 320px;
    line-height: 27px;
  }
}
.inform-block__link {
  display: block;
  margin: 15px auto;
  width: 280px;
  height: 36px;
  background-color: $block-text-bgc;
  border-radius: 5px;
  @include a-none ($basic-black);
  text-align: center;
  padding-top: 7px;
  font-size: 22px;
  font-family: 'Myriad Pro';
  box-shadow: 0 0 5px 2px grey;
  @media (min-width: $tablet-width) {
    display: inline;
    position: absolute;
    bottom: 10px;
    right: 28px;
    cursor: pointer;
    text-transform: inherit;
    box-shadow: none;
    background-color: transparent;
    font-size: 18px;
    width: 106px;
    height: 20px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    &--color{
      color: inherit;
    }
    &--acolor{
      color: $basic-white;
    }
    &:hover{
      border-bottom: 1px solid;
      border-color: initial;
    }
  }
}
