.toggle {
  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 85px;
    height: 30px;
    background-color: $basic-white;
  }
}
.toggle__button-left {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 12px;
    left: 20px;
    width: 25px;
    height: 2px;
    background-color: $basic-black;
    transform: rotate(-38deg);
  }
}
.toggle__button-right {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 12px;
    right: 20px;
    width: 25px;
    height: 2px;
    background-color: $basic-black;
    transform: rotate(38deg);
  }
}
