.toggle-round {
  display: none;
  @media (min-width: $tablet-width) {
    display: flex;
    position: absolute;
    bottom: 40px;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
  }
}
.toggle-round__item {
  width: 14px;
  height: 14px;
  background-color: $basic-white;
  border-radius: 50%;
  border: 1px solid $basic-black;
  position: relative;
  & + & {
    margin-left: 10px;
  }
  &:hover{
    background-color: $navigation-hover;

  }
  &:focus{
    background-color: $navigation-focus;
  }
  &:active{
    background-color: $navigation-push;
  }
}
.toggle-round__item--active{
  background-color: $slider-button;
}
